available: arch != "riscv64"
build: [
  ["dune" "subst"] {dev}
  [
    "dune" "build" "-p" name "-j" jobs "--promote-install-files=false"
    "@install"
    "@runtest" {with-test & !(os = "macos" & arch = "x86_64")}
    "@doc" {with-doc}
  ]
  ["dune" "install" "-p" name "--create-install-files" name]
]
